<div class="jumbotron text-center">
  <h1>Welcome to MyRecipies</h1>
  <h2>Best recipie sharing app!</h2>
  <p><%=link_to "Sign up or log in", "#", class: "btn btn-success" %></p>
</div>
	<div class="row">
	<div class="col-lg-4">
		<h2>Txet</h2>
		<p>lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet</p>
		<p><a class="btn btn-success"></a></p>
	</div>
	<div class="col-lg-4">
		<h2>Txet</h2>
		<p>lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet</p>
		<p><a class="btn btn-success"></a></p>
	</div>
	<div class="col-lg-4">
		<h2>Txet</h2>
		<p>lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet</p>
		<p><a class="btn btn-success"></a></p>
	</div>
</div>