$pri-color: #073b15;
$link-color: lighten($pri-color, 10%);
$brand-primary: $link-color;
$navbar-default-bg: $pri-color;
$brand-success: lighten($pri-color, 15%);
$link-color: lighten($pri-color, 10%);
$font-family-sans-serif: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
	float:left;
	font-size: 1.7em;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
	color:#fff;
	&:hover{
		
		text-decoration: none;
	}
}
.jumbotron{
	background-image: asset-url('bg.jpg');
	height: 300px;
	background-size: cover;
}
h4{
	font-weight:bolder;
	font-size: initial;
}
.image-circle{
	border-radius: 50%;
	margin-right: .5em;
}
.center{
	text-align: center;
}
.field_with_errors{
	& label{
		color:darkred;
	}
}